#left-arrow, #right-arrow, .arrow {
	width: 100%;
}

#video-controls {
	padding-top: 20px;
}

.video-buttons {
	height: 30px;
}

.active {
	font-weight: bolder;
}

.menu-item-row{
	padding: 10px 0 10px 0;
}

.fave-section{
	padding: 10px 0 10px 0;
}

.fave-title{
	padding-top:25px;
}

#playlist-head{
	background-color: #EEEEEE;
}

#playlist-body{
	background-color: #F5F5F5;
}

#recipe-title{
	font-weight: bold;
	font-size: 20px;
}

#playlist-head{
	padding: 20px;
}

#playlist-head {
	height: 150px;
}
 
#playlist-body {
	height: 50vh;
	overflow-y: scroll;
	padding: 20px 0px;

}
#speed-drop-button, #unloop-button, #loop-button, #speed-dropdown-div, #finished{
	height: 100%;
}

#recipe-icon, #vid-icon{
	height: 100%;
}


#recipe-icon, #recipe-title {
	display: inline-block;
}

#recipe-title {
	padding-left: 20px; 
}

.playlist-item{
	/*border-style: solid;*/
	/*border-width: 1px;*/
	/*border-color: #EEEEEE;*/

	/*overflow-x: visible;*/
	white-space: normal;

	margin-bottom: 20px;
	padding: 5px 20px;
}

.playlist-item:hover{
	cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    color: #A9A9A9;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F1F1F1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


#play-box{
	padding-left: 15px;
	padding-right: 15px;
}

.nav-link:hover{
	cursor: pointer;
}

#website-title{
	text-align: center;
}


.overlay{
	position: fixed; 
    display: none; 
    width: 100%;
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black; 
    z-index: 100000; 
}

.card-col{
	margin-right: 0px;
}

.card-img-top{
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgba(0, 0, 0, 0.125);
}